
.acta-uploader-container {
  background: url('../../public/images/sad.jpg') center center/cover
    no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
}

.form-control {
  width: 100%; /* Asegura que todos los selects tengan el mismo ancho */
  margin-bottom: 10px;
  padding: 10rem;
}

.custom-file-input {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.file-input {
  display: none;
}

/* Add more styling as needed */
